
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 120px;
    width: 120px;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items > ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.res-card{
    padding: 5px;
    width: 230px;
    background-color: #f0f0f0;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    margin: 5px;
}
.res-card:hover{
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
     background-color: rgb(206, 228, 228);
}
.search{
    padding:10px;
}
.res-logo{
    width: 100%;
    border-radius: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
    padding: 7px;
    border-style: none;
    border-radius: 5px;
    background-color:#f0f0f0;
    
}
.filter-btn:hover{
    background-color: rgb(184, 216, 216);
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}